* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: #E1FF8F;
  height: 710px;
  background-repeat: no-repeat;
  background-image: url(./image/print.svg), url(./image/Star2.svg), url(./image/Star3.svg), url(./image/Star4.svg), url(./image/Star5.svg);
  background-position: calc(100% + 594px) -333px, calc(100% - 1214px) 95px, calc(100% - 1143px) 70px, calc(100% - 238px) 568px, calc(100% - 349px) 538px;
}

.header-mobile {
  display: none;
}

.section-top {
  box-sizing: border-box;
  max-width: 769px;
  padding-top: 196px;
}
.section-top__title {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: bold;
  color: black;
  width: 120%;
}
.section-top__text {
  box-sizing: border-box;
  max-width: 647px;
  padding-top: 24px;
  line-height: 32px;
}
.section-top__text-game {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  width: 120%;
}
.section-top__text-go {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
}
.section-top__button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  border: 1px;
  border-color: black;
  width: 247px;
  height: 49px;
  border-radius: 60px;
  background-color: black;
  color: white;
  font-size: 24px;
  margin-top: 51px;
}
.section-top__button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 1ms;
  transform: scale(1);
  width: 247px;
  height: 45px;
}
.section-top__button-mobile {
  display: none;
}

.div-line {
  background-color: #BCEC30;
  width: 100%;
  height: 90px;
}

.block-game {
  background-image: url(./image/Star1.png), url(./image/Star\ 11.svg), url(./image/Star\ 12.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 1px) 160px, calc(100% - 1455px) 861px, calc(100% - 1415px) 915px;
  background-color: #202027;
  position: relative;
}
.block-game__title {
  font-size: 64px;
  color: white;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 94px;
}
.block-game__text {
  color: white;
  text-align: left;
  line-height: 32px;
  font-size: 24px;
}

.game-box {
  padding-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding-bottom: 54px;
}

.game-box__link {
  text-decoration: none;
}

.game-box__cart {
  box-sizing: border-box;
  width: 378px;
  background-color: white;
  border-radius: 30px;
}

.game-box__cart:hover {
  transform: scale(1.1);
}

.game-box__img {
  border-radius: 30px;
}

.game-box__cart-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding-left: 27px;
  align-content: center;
  width: 91px;
  height: 36px;
  border-radius: 52px;
  color: black;
  background-color: #f7f7f7;
  border: 0;
  margin-top: 28px;
  margin-left: 20px;
}

.game-box__cart-title {
  box-sizing: border-box;
  width: 90%;
  font-size: 32px;
  font-weight: 700;
  padding-left: 32px;
  padding-bottom: 36px;
  padding-top: 18px;
  color: black;
  text-decoration: none;
}

.section-game {
  background-color: #202027;
  padding-bottom: 71px;
}

.section-game__title {
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.section-game__cart-one {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  margin-top: 72px;
  max-width: 1200px;
}

.section-game__cart-two {
  display: flex;
  background-color: white;
  border-radius: 30px;
  margin-top: 32px;
  flex-direction: row-reverse;
  max-width: 1200px;
}

.section-game__cart-three {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  margin-top: 72px;
  max-width: 1200px;
  margin-top: 32px;
}

.section-game__cart-four {
  display: flex;
  background-color: white;
  border-radius: 30px;
  margin-top: 72px;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin-top: 32px;
}

.section-game__cart-five {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px;
  margin-top: 72px;
  max-width: 1200px;
  margin-top: 32px;
}

.section-game__cart-six {
  display: flex;
  background-color: white;
  border-radius: 30px;
  margin-top: 72px;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin-top: 32px;
}

.section-game__cart-div {
  width: 100%;
  padding: 48px;
}

.section-game__cart-title {
  color: black;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  display: block;
  width: 90%;
}

.section-game__cart-text {
  display: block;
  width: 84%;
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}

.section-game__cart-button {
  display: inline-block;
  padding-top: 16px;
  width: 247px;
  height: 48px;
  border-radius: 30px;
  color: white;
  background-color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 36px;
}

.section-game__cart-img {
  border-radius: 30px;
}

.footer {
  box-sizing: border-box;
  background-color: #BDED35;
  height: 150px;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-image: none;
    background-image: url(./image/Star-mobile1.png), url(./image/starmobile2.png), url(./image/Starmobile3.png), url(./image/Starmobile4.png), url(./image/star-mobile.svg);
    background-position: calc(100% - 303px) 95px, calc(100% - 263px) 63px, calc(100% - 86px) 556px, calc(100% - 33px) 579px, calc(100% + 85px) -86px;
    height: 690px;
  }
  .section-top {
    max-width: 262px;
    padding-left: 0;
    padding-top: 48px;
  }
  .section-top__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    padding-left: 14px;
    padding-top: 96px;
  }
  .section-top__br {
    display: none;
  }
  .section-top__text {
    padding-left: 12px;
    width: 284px;
    text-align: center;
  }
  .section-top__text-game {
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
    padding-left: 0px;
  }
  .section-top__text-go {
    font-size: 16px;
  }
  .section-top__button {
    display: none;
  }
  .section-top__button-mobile {
    font-size: 16px;
    font-weight: 600;
    line-height: 333.69%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px;
    border-color: black;
    height: 55px;
    border-radius: 60px;
    background-color: black;
    color: white;
    margin-top: 36px;
    margin-left: 18px;
    width: 285px;
  }
  .game {
    display: none;
  }
  .section-game {
    padding-top: 56px;
    padding-bottom: 10px;
    padding-left: 12px;
  }
  .section-game__title {
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
  }
  .section-game__cart {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: 48px;
    height: 530px;
  }
  .section-game__cart-two {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-left: 0;
    margin-top: 24px;
    height: 568px;
  }
  .section-game__cart-three {
    height: 565px;
    margin-top: 24px;
  }
  .section-game__cart-four {
    height: 605px;
    margin-top: 24px;
  }
  .section-game__cart-five {
    height: 579px;
    margin-top: 24px;
  }
  .section-game__cart-six {
    height: 624px;
    margin-top: 24px;
  }
  .section-game__cart-div {
    display: flex;
    flex-direction: column;
    width: 0;
  }
  .section-game__cart-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    margin-left: -19px;
    margin-top: -24px;
  }
  .section-game__cart-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 283px;
    padding-top: 16px;
    margin-left: -20px;
  }
  .section-game__cart-button {
    display: inline-block;
    padding-top: 19px;
    width: 286px;
    height: 36px;
    border-radius: 30px;
    color: white;
    background-color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 38px;
    margin-left: -20px;
    font-size: 16px;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}
@media (hover: none) {
  .section-top__button:hover {
    background-color: black;
    color: white;
    border: none;
    transition: none;
    transform: none;
    width: 285px;
    height: 45px;
  }
}/*# sourceMappingURL=style.css.map */